html, body {
  	font-family: 'Palanquin', Arial, sans-serif;
}
hr {
	margin: 0;
}
/******************************** Font Styling Classes ********************************/
.bold {
	font-weight: 700;
}

/******************************** CSS Transitions ********************************/
.fade-enter {
	opacity: 0;
	z-index: 1;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 250ms ease-in;
}
.fade-exit {
	opacity: 0;
}
/* .fade-exit-active {
	opacity: 0;
	transition: opacity 250ms ease-in;
} */
.App {
	text-align: left;
}
/******************************** Modal  ********************************/
.modal-enter {
	background-color: blue;
	transition: all 0.25s ease-in;
}
.modal-enter-active {
	background-color: red;
	transition: all 0.25s ease-in;
}


.App-logo {
  	/* animation: App-logo-spin infinite 20s linear; */
	height: 70px;
}

.App-header {
	height: 125px;
	padding: 15px;
	color: white;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	background-color: rgb(0, 0, 0.39);
}

.App-header * {
	margin: 5px;
}

.App-title {
	font-size: 1.5em;
	padding-top: 5px;
}

.App-intro {
	font-size: large;
}
#view {
	grid-area: view;
	display: grid;
}
#main {
	display: grid;
	grid-template-columns: [dashboard] minmax(180px, 1fr) [view] 6fr;
	grid-template-rows: auto;
}
#navBrand {
	padding: 15px;
}
#navBrand img {
	display: block;
	margin: 0 auto;
}
/******************************** Login/Sign Up ********************************/

#login-signup-prompt{
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr [middle] 3fr 1fr;
	grid-template-rows: 1fr [middle] 3fr 1fr;
	/* background-color: #243B4A; */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f7fa+0,bac3d6+100 */
	background: #f5f7fa; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjVmN2ZhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JhYzNkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg, #f5f7fa 0%, #bac3d6 100%); /* FF3.6-15 */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f5f7fa), color-stop(100%,#bac3d6)); /* Chrome4-9,Safari4-5 */
	background: -webkit-linear-gradient(-45deg, #f5f7fa 0%,#bac3d6 100%); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(-45deg, #f5f7fa 0%,#bac3d6 100%); /* Opera 11.10-11.50 */
	background: -ms-linear-gradient(-45deg, #f5f7fa 0%,#bac3d6 100%); /* IE10 preview */
	background: linear-gradient(135deg, #f5f7fa 0%,#bac3d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7fa', endColorstr='#bac3d6',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

#loginOrSignup {
	grid-area: middle;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	padding: 30px;
	/* border: solid 2px #e8e8e8; */
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	/* background-color: #FFFFFF; */
	/* box-shadow: 0px 0px 11px #222; */
}
#loginOrSignup > h1 {
	margin: 0px 0px 25px;
	text-align: center;
}
#btnWrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
#btnWrapper button {
	text-transform: uppercase;
	font-size: 1.15rem;
	margin: 0px 5px;
	padding: 0.65rem 1.75rem;
	border-radius:  1.5rem;
	-webkit-border-radius:  1.5rem;
	-moz-border-radius:  1.5rem;
	-ms-border-radius:  1.5rem;
	-o-border-radius:  1.5rem;
	min-width: 125px; 
}
.btnFormWrapper button {
	margin: 5px;
	text-transform: uppercase;
	padding: 0.65rem 1.75rem;
}
.btnFormWrapper button:hover {
	color: #FFFFFF;
	background-color: #1d2124;
	border-color: #1d2124;
} 
#loginForm, #signupForm {
	grid-area: middle;
	padding: 30px;
	/* border: solid 2px #e8e8e8; */
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	/* background-color: #FFFFFF; */
}
#loginForm form {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	margin-top: 100px;
	text-align: left;
	padding: 1em 5em;
}
#signupForm form {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	text-align: left;
	padding: 1em 5em;
}
.formTitle {
	margin-bottom: 1.5rem;
}
/******************************** Dashboard ********************************/
#dashboard {
	/* width: 15%;
	min-width: 150px; */
	grid-area: dashboard;
	min-height: 100vh;
	height: 100%;
	background-color: #222;
	overflow: hidden;
}
#dashboardLinks {
	list-style-type: none;
	text-align:left;
	padding-left: 0;
}
#dashboardLinks li {
	background-color: #222222;
	transition: all 0.1s ease-in;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
}
#dashboardLinks a {
	color: white;
	width: 100%;
	height: 100%;
	display: block;
	padding: 1em 2em;
}
#dashboardLinks li:hover {
	background-color: rgb(46, 46, 46);
}
#dashboardLinks a:hover {
	text-decoration: none;
}
.selected {
	background-color: rgb(46, 46, 46);
}
/******************************** Home ********************************/
.page {

}

#home {
	text-align: left;
}
.page-title, .subtitle {
	padding: 30px 15px 15px 30px;
	background-color: #fff;
	margin-bottom: 0;
	font-weight: 700;
}

/******************************** Student ********************************/
#students {
	background-color: #eee;
}
#studentDirectory {
	display: grid;
	grid-template-columns: repeat(5, minmax(200px, 1fr));
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin: 15px;
	/* grid-template-rows: 1fr [middle] 3fr 1fr; */
}
.studentItem, .teacherItem {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-content: center;
	padding: 15px;
	margin: 15px 0px;
	transition: all 0.15s ease-in;
	overflow: hidden;
	background-color: #fff;
	height: 255px;
}
.studentItem:hover, .teacherItem:hover {
	/* border: solid 1px rgba(0,0,0,.1); */
	box-shadow: 0px 0px 20px 2px rgb(219, 219, 219);
	cursor: pointer;
}
.studentItem p, .teacherItem p {
	margin: 0rem 0.5rem;
	padding: 0px;

}
.studentPic {
	align-self: center;
}
.studentPic img {
	width: 110px;
	height: 110px;
	object-fit: cover;
	border-radius: 50%;
	border: solid 3px rgb(226, 93, 93);
}